<div class='container'>
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      <li><a href="<%=root_path%>">Home</a></li>
      <li class="is-active"><a href="#" aria-current="page">Profile</a></li>
    </ul>
  </nav>
</div>
<section class="devise-form">
  <div class="section">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="content is-small is-narrow">
            <h2>Edit <%= resource_name.to_s.humanize %></h2>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <center>
              <div class='container'>
                <figure class="image is-64x64">
                  <% if @user.avatar.attached?%>
                  <%= image_tag @user.avatar %>
                  <% else %>
                  <img class='is-rounded' src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                  <%end%>
                  <%= f.file_field :avatar, accept:'image/png,image/gif,image/jpeg,image/jpg'%>
                </figure>
              </div>
            </center>
            <br />
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
            <div class="field">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :street_number_name,'Street No. & Street Name' %><br />
              <%= f.text_field :street_number_name, autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :suburb %><br />
              <%= f.text_field :suburb, autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :state %><br />
              <% opts = ['Australian Capital Territory', 'New South Wales', 'Queensland', 'South Australia', 'Tasmania', 'Victoria', 'Western Australia']%>
              <%= f.select(:state, opts) %>
            </div>
            <div class="field">
              <%= f.label :postcode %><br />
              <%= f.text_field :postcode, maxlength:4, placeholder:'e.g. 4000', autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :breeder_supply_number, 'Breeder Supply Number' %><br />
              <%= f.text_field :breeder_supply_number, maxlength:5, placeholder:'e.g. 12345', autofocus: true %>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
              <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
            <div class="field">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>
          </div>
          <div class="actions">
            <%= f.submit "Update" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <br />
    <div class='container'>
      <div class="card">
        <div class="card-content">
          <h3>Delete account</h3>
          <br />
          <p>
            <%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:'button is-danger' %>
          </p>
        </div>
      </div>
    </div>
    <br />
    <%= link_to "Back", :back, class:'button is-info is-small' %>
</section>