<%= form_with(model: listing, local: true) do |form| %>
  <div class="field">
    <%= form.label :breed %>
    <%- opts = options_from_collection_for_select(Breed.order(:name), :id, :name, listing.breed_id) %>
    <%= form.select(:breed_id, opts, required: true) %>
  </div>
<div class="field">
    <%= form.label :breeder_prefix %>
    <%= form.text_field :breeder_prefix %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
