listings#index
<div>
<% @listings.each do |listing| %>
  <%= listing.breed.name %>
  <%= listing.breeder_prefix %>
  <%= listing.description %>
  <%= link_to "Edit", edit_listing_path(id: listing.id) %>
  <%= link_to "Delete", listing_path(listing), method: :delete %>
  <br/>
<% end %>
<br/>
<%= link_to "Post new Listing", new_listing_path %>
</div>