<!-- START NAV -->
<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <button class="button is-white is-medium">
        <span class="icon"><i class="fa fa-paw"></i></span>
        <span><%= link_to "MansPalHouse", root_path%></span>
      </button>
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <span class="navbar-item">
          <%= link_to 'Home', root_path%><span class="icon">
            <i class="fas fa-home"></i>
          </span>
        </span>
        <% if user_signed_in? && current_user.guest? %>
        <span class="navbar-item button is-info is-light is-medium is-outlined">
          <%= link_to "Apply as Seller", new_seller_registration_path %>
          <% end %>
        </span>
        <%if user_signed_in?%>
        <span class="navbar-item">Welcome, <%= current_user.email%></span>
        </span>
        <div class="navbar-item has-dropdown is-hoverable">
          <span class="navbar-link">
            Account<span><i class="fas fa-user-circle"></i></span>
          </span>
          <div class="navbar-dropdown">
            <div class="navbar-item">
              <span class="navbar-item"><%= link_to 'Profile',edit_user_registration_path %></span>
            </div>
            <div class="navbar-item">
              <span class="navbar-item"><%= link_to 'Listings',listings_path %></span>
            </div>
            <hr class="navbar-divider">
            <div class="navbar-item">
              <span class="navbar-item"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <%else%>
      <span class="navbar-item">
        <%= link_to "Sign In", new_user_session_path %><span><i class="fas fa-sign-in-alt"></i></span>
      </span>
      <span class="navbar-item">
        <%=link_to "Register", new_user_registration_path%><span><i class="fas fa-user-plus"></i></span>
      </span>
      <%end%>
    </div>
  </div>
</nav>
<!-- END NAV -->