<nav class="navbar is-primary">
    <div class="navbar-brand">
        <span class="navbar-item"><%= link_to "MansPalHouse", root_path%></span>
        <div class="navbar-burger burger" >
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                Menu
                </a>
                <div class="navbar-dropdown is-boxed">
                    <span class="navbar-item" >
                            <% if user_signed_in?%>
                                <%= link_to "Profile", edit_user_registration_path %></span>
                                <hr class="navbar-divider">
                                <span class="navbar-item is-active">
                                <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></span>
                            <%else%>
                                <span class="navbar-item" >
                                <%= link_to "Sign In", new_user_session_path %></span> 
                            <%end%>
                </div>
            </div>
                <% if user_signed_in?%>
                    <span class="navbar-item ">Welcome <%= current_user.email%></span>
                <%else%>
                    <span class="navbar-item " ><%=link_to "Register", new_user_registration_path%></span>
                <%end%>
        </div>
    </div>
</nav>