<div class='container'>
  <nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
      <li><a href="<%=root_path%>">Home</a></li>
      <li class="is-active"><a href="#" aria-current="page">Listings</a></li>
    </ul>
  </nav>
</div>
<br/>
<%= render '/shared/search'%>
<section class="section">
  <div id="main" class='container' style='text-align:center;'>
    <h1 class="title">Available</h1>
    <h2 class="subtitle">Listings</h2>
  </div>
  <br />
  <div class='container-home search-results'>
    <% @listings.order(updated_at: :desc).each do |listing|%>
    <div class="card">
      <div class="card-content" style='font-size: small; '>
        <%= time_ago_in_words(listing.updated_at) %><span> ago</span>
      </div>
      <div class="card-image">
        <figure class="image is-4by3">
          <% if listing.picture.attached? %>
          <%= link_to list_path(listing.id) do %>
          <%= image_tag listing.picture%>
          <%end%>
          <% else %>
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          <% end %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <% if listing.user.avatar.attached?%>
              <%= image_tag listing.user.avatar %>
              <% else %>
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              <%end%>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Breed: <%= link_to listing.breed.name, list_path(id: listing.id)%></p>
            <p class="title is-4">Kennel: <%= listing.breeder_prefix%></p>
            <p class="subtitle is-6">Breeder: <%= listing.user.name%></p>
            <p class="subtitle is-6 buttons"><%= link_to 'Price: Contact Seller', new_buyer_message_path(listing_id: listing.id),
            class:'button is-small is-rounded is-info'%></p>
          </div>
        </div>
        <div class="content"><p class="subtitle is-6">Description: 
          <%= listing.description.to_s.truncate_words(40, omission: '... (continued)') %></p>
        </div>
      </div>
    </div>
    <%end%>
  </div>
</section>
<section class='section'>
  <%== pagy_bulma_combo_nav_js(@pagy) %>
</section>

<footer class='footer'>
<div class='container' style='display:flex; justify-content:space-between; '>
<span><%=image_tag('logo4.png')%></span><span><%=image_tag('logo1.png')%></span><span><%=image_tag('logo2.png')%></span><span><%=image_tag('logo3.png')%></span></div>
</footer>
  