<section class="hero is-primary is-fullheight">
  <!-- Hero head: will stick at the top -->
<br/>
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to "MansPalHouse", root_path%><i class="fas fa-paw"></i>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <% if user_signed_in?%>
            <span class="navbar-item "><%=link_to  current_user.email, edit_user_registration_path %> </span>
            <span class="navbar-item">
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></span>
            </span>
            <%else%>
            <span class="navbar-item">
                <span><%= link_to "Sign In", new_user_session_path %></span> 
            </span>
            <span class="navbar-item">
                <span class="button is-primary is-inverted " ><%=link_to "Register", new_user_registration_path%></span>
            </span>    
            <%end%>
          </div>
        </div>
      </div>
    </nav>
  </div>
<br/>
<br/>
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Looking for your next canine companion?
      </h1>
      <h2 class="subtitle">
        Find little puppies for big hearts.
      </h2>
    </div>
  </div>
  <div class='container'>
  <div class="field has-addons">
      <div class="control">
      <input class="input" type="text" placeholder="e.g. pug">
      </div>
      <div class="control">
        <span><%=link_to 'Search', listings_path, class:'button is-info'%></span>
      </div>
  </div>
  </div>
  <div id=container>
  <div class="dog-head">
    <img src="http://www.clker.com/cliparts/j/3/Z/Y/D/5/dog-head-md.png">
  </div>

  <div class="dog-body">

  </div>
</div>
  <!-- Hero footer: will stick at the bottom -->
  <%# <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li class="is-active"><a>Overview</a></li>
          <li><a>Modifiers</a></li>
          <li><a>Grid</a></li>
          <li><a>Elements</a></li>
          <li><a>Components</a></li>
          <li><a>Layout</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section> %>