<section class="listing-form-margin">
<div class="section">
  <br />
  <div class="container">
    <%= image_tag @listing.picture if @listing.picture.attached? %>
    <br />
    <div class="card">
      <div class="card-content">
        <div class="content">
          <% listing = @listing%>
          <p><strong>Breed: </strong> <%= listing.breed.name %></p>
          <br />
          <p><strong>Kennel: </strong> <%= listing.breeder_prefix %></p>
          <br />
          <p><strong>Description: </strong> <%= listing.description %></p>
          <br />
          <p class='buttons'><%= link_to 'Price: Contact Seller', contact_seller_path(listing.id), 
            class:'button is-small is-rounded is-info'%></p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Back', :back%>
</section>