<% render '/shared/navbar' %>

<div class="section">
  <div class="container">
   <p>
     Your application has now been submitted and is now under review.
     We'll be reviewing it in 3 working days and if there's no update by then, you can follow up at support@manspalhouse.com.
   </p>
  </div>
  <br/>
  <div class="container">
  <%if @user.breeder_id_picture.attached? %>
  <%= image_tag @user.breeder_id_picture %>
  <%else%>
  <%=flash[:alert] = "No membership ID attached" %>
  <div class="notification is-warning">
  <span><%= image_tag('/assets/dog.png')%></span><span>Oops you forgot to attached your Breeder Id. 
  Please go back and attach required membership ID.</span>
  </div>
  <%end%>
  <br/>
  <br/>
        <div class="notification is-success">
            <p>Name: <%= @user.name %></p>
            <p>Email: <%= @user.email %></p>
            <p>Breeder Supply Number: <%= @user.breeder_supply_number %></p>
            <br/>
        </div>
</div>
<br/>
<br/>
<div class="container">
  <div class="field is-grouped is-grouped-centered">
  <p class="control">
    <a >
      <%= link_to "Submit", root_path, class: "button is-primary" %>
    </a>
  </p>
  <p class="control">
    <a >
      <%= link_to "Back", :back, class:"button is-light" %>
    </a>
  </p>
</div>            
</div>  